* {
    font-family: 'Handlee', cursive;
}

body {
    background-image: url(../assets/pexels-aleksandar-pasaric-1323712.jpg);
    margin: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    gap: 150px;
}


header * {
    padding: 0;
    margin: 0;
    background-color: #84a900;
    color: black;
    font-weight: bold;
    font-size: large;
    box-sizing: border-box;
    text-decoration: none;

}

header {
    background-color: #84a900;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    box-shadow: 0px 2px 10px black;
}

header > div > a{
    display: flex;
    align-items: center;
    gap: 20px;
}


#logo {
    height: 75px;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid white ;
}

#navBarList {
    
    cursor: pointer;
    list-style: none;
}

#navBarList li {
    display: inline-block;
    padding: 0 20px;
}

#navBarList li a {
    transition: all 0.3s ease 0s;
}

#navBarList li a:hover {
    color: white;
}



#cvDiv {
    color: black;
    background-color: rgba(68, 69, 77, 0.3);
    padding: 40px;
    margin: 0px 10% 0% 10%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#cvDiv > div img {
    border-radius: 20px;
    width: 100%;
    border: 2px solid #00204b ;
}







footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #84a900;
    color: black;
    padding: 10px;
    box-shadow: 0px -2px 10px black;
}

footer button img{
    height: 40px;
    width: 40px;
}

#showSideBarID{
    display: none;
}

.sideBar {
    position: fixed;
    margin: 0;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background-color: rgb(132, 169, 0,0.8);
    text-decoration: none;
    z-index: 999;
    box-shadow: 1px 2px 10px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    font-size: 1.2rem;
    font-weight: bold;
    display: none;
}
.sideBar li a{
    width: 100%;
    text-decoration: none;
    color:white
}
.sideBar li a:hover{
    color:brown
}

.sideBar button:hover{
    background-color: #84a900;    
}

@media (max-width: 1000px)
{
    .hideOnMobile{
        display: none;
    }
    #showSideBarID{
        display: block;
    }
}